.viewercontent{
    display: flex;
    height: 100%;
}
#sidebar {
    width: 20%;
    background-color:#343a40;
    border-radius: 5px;
    color: rgba(255,255,255,.5);
    margin: 2px 0 2px 0; //top,right,bottom,left
    height: 100%;
}


.content{
    width: 100%;
}

.properties {
    width: 20%;
    background-color:#343a40;
    border-radius: 5px;
    color: rgba(255,255,255,.5);
    height: 100%;
    margin: 2px 0 2px 0; //top,right,bottom,left
}

.viewer {
    width: 100%;
    background-color: #343a40;
    border-radius: 5px;
    color: rgba(255,255,255,.5);
    
    margin: 2px 2px 0 2px; //top,right,bottom,left
}


.settings {
    width: 100%;
    background-color:#343a40;
    border-radius: 5px;
    color: rgba(255,255,255,.5);
    height: 30%;
    margin: 2px 2px 4px 2px; //top,right,bottom,left
}

.buttons{
    margin: 2px 0 2px 0;
    border-radius: 5px;

}

.saveButton{
    bottom: 0;
    right: 0;
}

.imageGallery{
    display: flex;
    margin-left: 12px;

}

.imageContent > img{
    width: 90%;
}

.imageContent{
    flex-basis: 33%;;
}

.listSidebar{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.listItemSidebar{
    flex-basis: 90%;
}