<div class="viewercontent">
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3 style="text-align: center;">Sidebar</h3>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="content">
        <div class="viewer">
            <h3 class="viewer" style="text-align: center;">Viewer</h3>
        </div>
        <div id="settings" class="settings">
            <h3 class="settings" style="text-align: center;">Settings</h3>
        </div>
    </div>



    <div id="properties" class="properties">
        <h3 style="text-align: center;">Properties</h3>
    </div>
</div>
