<div class="login-page">

    <!-- Default form login -->
    <form class="text-center form-border">

        <div style="display: flex; flex-direction: row; height: 35%; width: 100%; justify-content: space-evenly;">
            <div *ngFor="let item of LogoGallery">
                <img class="logo" src="item.imgSrc" [src]="item.imgSrc" alt="image">
            </div>
        </div>

        <!-- Email -->
        <input type="text" id="clientID" class="form-control mb-3" placeholder="Client ID">

        <!-- Password -->
        <input type="password" id="clientSecret" class="form-control mb-3" placeholder="Client Secret">


        <!-- Sign in button -->
        <button [routerLink]="'/projects'" block="true" class="btn btn-info" type="submit">Sign in</button>




    </form>
    <!-- Default form login -->

</div>

<router-outlet></router-outlet>