<div class="login-page">

<!-- Default form login -->
<form class="text-center form-border">

    <p class="h4 mb-4">Sign in</p>

    
        <!-- Email -->
        <input type="text" id="clientID" class="form-control mb-3" placeholder="Client ID">

        <!-- Password -->
        <input type="password" id="clientSecret" class="form-control mb-3" placeholder="Client Secret">


        <!-- Sign in button -->
        <button [routerLink]="'/projects'" block="true"  class="btn btn-info" type="submit">Sign in</button>
        
    


</form>
<!-- Default form login -->

</div>

<router-outlet></router-outlet>
