<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="https://codeo.com.tr/" target="_blank">Codeo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">

      <div class="mainPages">
        <div class="nav-item"><a class="nav-link" routerLink="projects">Projects</a></div>
        <div class="nav-item"><a class="nav-link" routerLink="viewer/:id">Viewer</a></div>
      </div>

      <div class="loginPages">
        <div class="nav-item"><a class="nav-link" routerLink="login">Hello User </a></div>
        <div class="nav-item"><a class="nav-link" routerLink="login">Login </a></div>
      </div>

    </ul>
  </div>
</nav>

<router-outlet></router-outlet>