<h1 style="text-align: center; color: rgba(255,255,255,.5);">Codeo Catalog</h1>

<div class="card-group">
    <div class="viewer">
        <img class="card-img-top" src="../../assets/img/scenes/scene (1).jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">GGWS 1010</h5>
            <p class="card-text">Playground Equipment</p>
        </div>
        <div class="card-footer">
            <button type="button" [routerLink]="'/viewer/:id'"  class="btn btn-info buttons">Open Item</button>
            <button type="button" class="btn btn-danger buttons">Delete Item</button>
        </div>
    </div>
    <div class="viewer">
        <img class="card-img-top" src="../../assets/img/scenes/scene (2).jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">GGWS 1011</h5>
            <p class="card-text">Playground Equipment</p>
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-info buttons">Open Item</button>
            <button type="button" class="btn btn-danger buttons">Delete Item</button>
        </div>
    </div>
    <div class="viewer">
        <img class="card-img-top" src="../../assets/img/scenes/scene (3).jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">GGWS 1009</h5>
            <p class="card-text">Playground Equipment</p>
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-info buttons">Open Item</button>
            <button type="button" class="btn btn-danger buttons">Delete Item</button>
        </div>
    </div>

    <div class="viewer">
        <img class="card-img-top" src="../../assets/img/scenes/scene (4).jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">GGWS 1008</h5>
            <p class="card-text">Playground Equipment</p>
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-info buttons">Open Item</button>
            <button type="button" class="btn btn-danger buttons">Delete Item</button>
        </div>
    </div>

    <div class="viewer">
        <img class="card-img-top" src="../../assets/img/scenes/scene (5).jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">GGWS 1007</h5>
            <p class="card-text">Playground Equipment</p>
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-info buttons">Open Item</button>
            <button type="button" class="btn btn-danger buttons">Delete Item</button>
        </div>
    </div>

    <div class="viewer">
        <img class="card-img-top" src="../../assets/img/scenes/scene (6).jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">GGWS 1006</h5>
            <p class="card-text">Playground Equipment</p>
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-info buttons">Open Item</button>
            <button type="button" class="btn btn-danger buttons">Delete Item</button>
        </div>
    </div>
</div>

<div style="display: flex;">
    <button type="button" class="btn btn-success" [routerLink]="'/login'"
        style="margin: 0px 10px 10px 10px;  flex-basis: 100%;">Save and Logout</button>
</div>