<div class="card-group">
    <div class="viewer">
        <img class="card-img-top" src="../../assets/img/scenes/scene (1).jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Viewer 1</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
        </div>
        <div class="card-footer">
            <button type="button" [routerLink]="'/viewer/:id'"  class="btn btn-info buttons">Open Item</button>
            <button type="button" class="btn btn-danger buttons">Delete Item</button>
        </div>
    </div>
    <div class="viewer">
        <img class="card-img-top" src="../../assets/img/scenes/scene (2).jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Viewer 2</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-info buttons">Open Item</button>
            <button type="button" class="btn btn-danger buttons">Delete Item</button>
        </div>
    </div>
    <div class="viewer">
        <img class="card-img-top" src="../../assets/img/scenes/scene (3).jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Viewer 3</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-info buttons">Open Item</button>
            <button type="button" class="btn btn-danger buttons">Delete Item</button>
        </div>
    </div>

    <div class="viewer">
        <img class="card-img-top" src="../../assets/img/scenes/scene (3).jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Viewer 4</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-info buttons">Open Item</button>
            <button type="button" class="btn btn-danger buttons">Delete Item</button>
        </div>
    </div>

    <div class="viewer">
        <img class="card-img-top" src="../../assets/img/scenes/scene (3).jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Viewer 5</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-info buttons">Open Item</button>
            <button type="button" class="btn btn-danger buttons">Delete Item</button>
        </div>
    </div>

    <div class="viewer">
        <img class="card-img-top" src="../../assets/img/scenes/scene (3).jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Viewer 6</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-info buttons">Open Item</button>
            <button type="button" class="btn btn-danger buttons">Delete Item</button>
        </div>
    </div>
</div>

<div style="display: flex;">
    <button type="button" class="btn btn-success" [routerLink]="'/login'"
        style="margin: 0px 10px 10px 10px;  flex-basis: 100%;">Save and Logout</button>
</div>